* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
/* 声明字体*/
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}
.mainbox {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}
.mainbox .column {
  flex: 3;
}
.mainbox .column:nth-child(2) {
  flex: 5;
  margin: 0 0.125rem 0.1875rem;
  overflow: hidden;
}
.login {
  position: relative;
  height: 1rem;
  margin-bottom: 0.1875rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
}
.login::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.login::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.login .login-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.login .login-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.login .login-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.login h2 {
  height: 100%;
  width: 100%;
  left: 0.25rem;
  top: 50%;
  color: #fff;
  line-height: 0.6rem;
  font-size: 0.25rem;
  font-weight: 400;
}
.panel {
  position: relative;
  height: 3.875rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background: url(../images/line.png) rgba(255, 255, 255, 0.03);
}
.panel::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.panel::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.panel .panel-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.panel h2 {
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: 400;
}
.panel h2 a {
  margin: 0 0.1875rem;
  color: #fff;
  text-decoration: underline;
}
.panel .chart {
  min-height: 100%;
}
.panel .chart .pm {
  position: relative;
  width: 100%;
  height: 25%;
}
.panel .chart .pm .row1 {
  width: 100px;
  margin-left: 10px;
  text-align: center;
  float: left;
}
.panel .chart .pm .row1 h3 {
  float: left;
}
.panel .chart .pm .row2 {
  width: 140px;
  margin-left: 10px;
  text-align: center;
  float: left;
}
.panel .chart .pm .row2 h3 {
  float: left;
}
.panel .chart .pm .row3 {
  width: 100%;
}
.panel .chart .pm .row3 h3 {
  height: 80%;
  margin-left: 10px;
  float: left;
}
.panel .chart .pm .row3 p {
  width: 60%;
  height: 80%;
  margin-left: 10px;
  float: left;
}
.panel .chart .pm .row4 {
  width: 100%;
}
.panel .chart .pm .row4 h3 {
  height: 80%;
  margin-left: 10px;
  float: left;
}
.panel .chart .pm .row4 p {
  width: 60%;
  height: 80%;
  margin-left: 10px;
  float: left;
}
.panel .chart .pm p {
  float: left;
  color: #5eb6fd;
  margin-left: 10px;
  margin-top: 3px;
}
h3 {
  color: #fff;
}
.suggest {
  position: relative;
  height: 6.7125rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background: url(../images/line.png) rgba(255, 255, 255, 0.03);
}
.suggest::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.suggest::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
  content: "";
}
.suggest .suggest-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.suggest .suggest-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.suggest .suggest-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
  content: "";
}
.suggest h2 {
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.25rem;
  font-weight: 400;
}
/*.no{
    background-color: rgba(101, 132, 226, 0.1);
    .no-hd{
        position: relative;
        border: 1px solid rgba(25, 186, 139, 0.17);
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 30px;
            height: 10px;
            border-left: 2px solid #02a6b5;
            border-top: 2px solid #02a6b5;
        }
        &::after{
            position: absolute;
            bottom: 0;
            right: 0;
            content: "";
            width: 30px;
            height: 10px;
            border-bottom: 2px solid #02a6b5;
            border-right: 2px solid #02a6b5;
        }
        ul{
            display: flex;
            li{
                position: relative;
                flex: 1;
                line-height: 1rem;
                font-size: .875rem;
                // line-height: 80px;
                // font-size: 70px;
                color: #ffeb7b;
                text-align: center;
                font-family: "electronicFont";
                &:first-child::after{
                    content: "";
                    position: absolute;
                    top: 25%;
                    right: 0;
                    height: 50%;
                    width: 1px;
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
    
    .no-bd {
        ul{
            display: flex;
            li{
                flex: 1;
                text-align: center;
                color: rgba(255, 255, 255, 0.7);
                font-size: .225rem;
                height: .5rem;
                line-height: .5rem;
                // font-size: 18px;
                // height: 40px;
                // line-height: 40px;
                padding-top: .125rem;
            }
        }
    }
}
*/
.map {
  position: relative;
  height: 10.125rem;
}
.map .map1 {
  width: 6.475rem;
  height: 6.475rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/map.png);
  background-size: 100%,100%;
  opacity: 0.3;
}
.map .map2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8.0375rem;
  height: 8.0375rem;
  background: url(../images/lbx.png);
  background-size: 100%,100%;
  opacity: 0.6;
  animation: rotate1 15s linear infinite;
}
.map .map3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7.075rem;
  height: 7.075rem;
  background: url(../images/jt.png);
  background-size: 100%,100%;
  opacity: 0.6;
  animation: rotate2 15s linear infinite;
}
.map .chart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10.125rem;
}
@keyframes rotate1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate2 {
  from {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.li {
  height: 0.5rem;
  bottom: 0.0625rem;
  color: #2ca1ff;
  text-align: left;
  font-size: 0.25rem;
  font-weight: 400;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.welcome {
  height: 0.5rem;
  padding: 0.125rem;
  color: #b3d8f6;
  line-height: 0.5rem;
  text-align: left;
  font-size: 0.25rem;
  font-weight: 400;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
}
.welcome a {
  float: right;
  margin: 0 0.1875rem;
  font-size: 0.3rem;
  text-align: right;
  color: #5eb6fd;
  text-decoration: none;
}
